body {
    max-width: 1400px;
    margin: 0 auto !important;
}

@font-face {
    font-family: "cocogoose";
    src: url(../fonts/COCOGOOSE/Cocogoose_trial.otf)
}

.top-header{
    height: 30px;
    background-color: #3e3e3e;
    font-family: 'Lato', sans-serif;
}

.top-header img {
    width: 17px;
}

.right-topnav {
    margin-right: 90px;
}

.navbar {
    color: #a1a1a1;
    height: 80px
}

.navbar img {
width:100px;
margin-left: 12%;
}

.center-nav {
    margin-left: 3%;
   width: 45%;
}

.center-nav span{
    margin: 0 4%;
}

.log-in {
    border-width: 10px !important;
    margin-right: 30px;
}

.main-content {
    height: 770px;
}

.main-text {
    margin-left: 15%;
}

.main-text h1,
.main-text h2 {
    color: #ec5242;
    font-family: 'cocogoose', sans-serif;
    font-weight: 900;
}

.main-content img {
    opacity: .3;
    height: 770px
}

.cont-text {
    border: 3px solid rgb(238, 233, 233) !important;
    padding: 15px;
    max-width: 600px;
    background-color: #f8f8f8;
}

.shops {
    height:450px;
    background-color: #272a31;
}

.section {
    height: 200px;
    background-color: #3e4148;
    width:180px;
}

.movies {
    top: 10%;
}

.featured {
    font-family: 'Lato', sans-serif;
}

.featured img {
    width: 140px;
    height: 140px;
}

.featured h3 {
    font-size: 20px;
    font-weight: bold;
}

.featured p {
    color: #ec5242;
}

.gray-square {
    z-index: -1;
    top: -10%;
    left: -.5%;
    width: 70px!important;
    height: 70px!important;
}

.top-footer {
    height: 200px;
    background-color: #424146;
}

.footer-heading {
    height: 100px;
    padding-top: 30px;
    color: #98979a;
    font-family: 'Lato', sans-serif;
}

.partners {
    display:flex;
    justify-content: center;
    height: 100px;
    padding: 30px 0;
    flex-wrap: wrap;
}

.partners img { 
    margin: 0 1%;
}

.bottom-footer {
    height: 200px;
}

.bottom-footer img {
    width: 150px;
    margin-right: 5%;
}

.bot-footer-right {
    max-width: 600px;
}

.option {
    width: 70px;
    height: 50px;
    top: 2%;
    left: 4%;
}

