body {
    max-width: 1400px;
    margin: 0 auto !important;
}

.top-header{
    height: 30px;
    background-color: #3e3e3e;
    font-family: 'Lato', sans-serif;
}

.top-header img {
    width: 17px;
}

.right-topnav {
    margin-right: 90px;
}

.navbar {
    color: #a1a1a1;
    height: 80px
}

.navbar img {
width:100px;
margin-left: 200px
}

.center-nav {
    margin-left: 120px;
}

.navbar span{
    margin-right: 70px;
}

.campaign {
    border-width: 10px !important;
}

.main-content {
    background: url(assets/images/cropped-1920-1080-975294.jpg) 50% 100% no-repeat;
    height: 770px;
   
}

.main-text {
    margin-left: 200px;
    color: #ec5242
}

.main-content img {
    opacity: .3;
    height: 770px
}

.cont-text {
    border: 3px solid rgb(238, 233, 233) !important;
    padding: 15px;
    max-width: 600px
}

.main-text h1, 
.main-text h2,
.main-text p {
}

.shops {
    height:450px;
    background-color: #272a31;
    padding-right: 15px !important;
}

.section {
    height: 200px;
    background-color: #3e4148;
    width:180px;
}

.movies {
    top: 10%
}

