@font-face {
  font-family: "cocogoose";
  src: url(../fonts/COCOGOOSE/Cocogoose_trial.otf);
}

/* HEADER */

a {
  text-decoration: none !important;
}

.top-header {
  height: 30px;
  background-color: #3e3e3e;
  font-family: "Lato", sans-serif;
}

.top-header img {
  width: 17px;
}

.right-topnav {
  margin-right: 90px;
}

.navbar {
  color: #a1a1a1;
  height: 80px;
}

.navbar img {
  width: 100px;
  margin-left: 12%;
}

.center-nav {
  margin-left: 10%;
  width: 35%;
}

.center-nav a {
  margin: 0 7%;
  color: #d3d3d3;
}

.ticket-link {
  color: #ec5242 !important;
}

.log-in {
  border-width: 10px !important;
  margin-right: 30px;
  color: #ec5242;
}

.option {
  width: 70px;
  height: 50px;
  top: 2%;
  left: 4%;
}

.hidden {
  top: 2%;
  left: 6%;
  z-index: 4;
}

.hide {
  opacity: 0;
}

/* MAIN */

/* TICKETS SECTION */

.tickets {
  background-color: #f7f7f7;
  color: #272a31;
}

.table-head {
  background-color: #f7f7f7;
}

td {
  color: #ec5242;
}

.tickets span {
  color: #ec5242;
}

/* PROMO SECTION */

.step-2 {
  height: 50px;
  box-sizing: border-box;
}

.step-2 span {
  color: #ec5242;
}

.promo {
  box-sizing: border-box;
  color: #272a31;
}

.popcorns {
  background-color: #f7f7f7;
}

.menu {
  height: 90px;
}

.menu div {
  margin-right: 5%;
}

input {
  background-color: #ec5242;
  border: none;
  padding: 10px 60px;
  color: white;
  font-family: "Lato", sans-serif;
}

/* FOOTER */

.bottom-footer {
  height: 200px;
  background-color: #272a31;
  color: #d3d3d3;
}

.bottom-footer img {
  width: 150px;
  margin-right: 5%;
}

.bot-footer-right {
  max-width: 600px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 700px) {
  .step-2 {
    height: 70px;
  }

  main {
    min-width: 360px;
  }

  footer {
    min-width: 360px;
  }
}
